<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name= "conexionsql"
		connectionString = "1nti3qqEeUXTnEepllUiPJgeQqOcDt03WHLU+yVbOyqEU5cmcpxLw6Y8KbtTOQ2k8ciHCrd9qBvhgIuVQn6NSLS8gi0snXwKFH9IVBHAJixg3i4Fh0bHVXOBMeQT2/ynzrZfMpqc/9UVgPuqzouU/x36+LbBQIFGcMX4ONTvE/Z5NFL/kf47ajc+i7PJNlRqiOGZ9XPYCQHO7aKn8okqgWWxhxuM2N01EoQFVK0415Zs2P1vmijTDab+/Xgccypr5/5pfi698LeQ8KoqhKqqB1A2Q8rw8UcylbGzUS/Vg06tMH1SWT15Dhy2IzqOobzZaPy2lsjc+GBoobPlxMVsVW/wyEZbDFpan1Ia9sPfdEMUUKFw4mgZn06JrVgdVCZK"
		providerName = "System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="DireccionCorreo" value="AI7Qy4mKjP5jFsuC+iNr4Y0aAjxbO1CX9TvZ9jGHDGrluh4jTVfloFfL98aQiPJ35VS2Eo6allfLmE33q9dlxA==" />
		<add key="ContraseñaCorreo" value="TOf6/eUWNb9vSO4FoODjBrico2FuMYwythadmDbwxwo="/>
	</appSettings>
</configuration>