<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<connectionStrings>
			<add name= "conexionsql"
			connectionString = "Data Source=elin-server.database.windows.net;Initial Catalog=SISTEMA_ERP;Persist Security Info=True;User ID=elin;Password=lagalletaasisequiebra1@"
			providerName = "System.Data.SqlClient" />
		</connectionStrings>
</configuration>